// Custom styles.
@font-face
{
    font-family: lovely;
    src: url('/fonts/lovely.otf');
}
body
{
    background: url(https://s2.ax1x.com/2019/03/10/Ap0lGT.png);
    background-size: cover;
    backgorund-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   
}
